
MCPagerView.xcodeproj/project.xcworkspace/contents.xcworkspacedata

MCPagerView.xcodeproj/project.xcworkspace/xcuserdata/baglan.xcuserdatad/UserInterfaceState.xcuserstate

MCPagerView.xcodeproj/xcuserdata/baglan.xcuserdatad/xcschemes/MCPagerView.xcscheme

MCPagerView.xcodeproj/xcuserdata/baglan.xcuserdatad/xcschemes/xcschememanagement.plist
